body {
    margin-top: 30px;
}
.nav-item{
    padding: 3px;
}
.card{
    height: 100px;
    color: linear;
}
h5 p{
    text-align: center;
}
section{
    margin-top: 20px;
}
.btn {
    border-radius: 40px;
    margin-top: 10px;
    align-items: right;
}